body{
    color: red;
}
header{
    line-height:initial;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}
/*
    here my edit master I hope you like it
 */
 nav li{
    display: flex;
 }